.introWrap{width:100%;overflow:hidden;}


.silkIntro{width:100%;height:400px;background:#f8f8f8;position:relative;}
.podoIntro{width:100%;height:400px;background:#ffffff;position:relative;}

.mainTxtBox{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);cursor:pointer;}
.mainTxtBox .mainTxt{width:350px;position:relative;}
.mainTxtBox .mainTxt > li{
  font-size: 3.5em;
  text-transform: uppercase;
  color: #000000;
  font-family:'Nanum Gothic';
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 1s;
   -webkit-animation-fill-mode: forwards;
  text-align:center;
}

.mainTxtBox .mainTxt > li.cc {
  color:#739d91;
  font-family:'Nanum GothicEXB';
  animation-delay: 0.2s;
}
.mainTxtBox .mainTxt > li.cc.cc2 {
  color:#7030a0;
}
.mainTxtBox .mainTxt > li.mid {
  font-family:'Nanum GothicB';
  animation-delay: 0.35s;
  -webkit-animation-fill-mode: forwards;
}
.mainTxtBox .mainTxt > li.mid2 {
  animation-delay: 0.45s;
}
.mainTxtBox .mainTxt > li.last {
  animation-delay: 0.6s;
  font-weight:300;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

.mainTxtBox .mainTxt .goImg{width:319px;height:233px;position:absolute;bottom:-95px;right:-35px;background:url('/mobile/images/intro/goImg_s.png')no-repeat center;}
.mainTxtBox .mainTxt .goImg.podo{background:url('/mobile/images/intro/goImg_p.png')no-repeat center;}

.mainTxtBox .mainTxt .goImg .txt{font-size:24px;color:#3a3a3a;font-weight:bold;padding:140px 0 0 250px;}
.mainTxtBox .mainTxt .goImg .txt > span{color:#739d91;font-weight:bold;}

.mainTxtBox .mainTxt .goImg .txt.txt2 > span{color:#7030a0;font-weight:bold;}
